<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add
        key="serverBaseUrlKey"
        value="http://localhost:8097/"
    />
    <add
        key="error404Key"
        value="http://localhost:8097/"
    />
  </appSettings>
</configuration>